myvenv/ 

env/
*.env

# ملفات بايثون المؤقتة
__pycache__/
*.pyc

# قاعدة بيانات SQLite
*.sqlite3
db.sqlite3

# ملفات الوسائط التي يرفعها المستخدمون (عادةً)
/media/

# ملفات الإعدادات المحلية التي تحتوي على أسرار
local_settings.py
.env

# ملفات أخرى
.DS_Store
