<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit students</title>
</head>
<body>
 <h3>if</h3>
 {% if titol > 250 %}
 <p>ex</p>
 {% endif %}
 <h3>if and else</h3>
 {% if titol > 250 %}
 <p>ex</p>
 {% else %}
 <p>good</p> 
 {% endif %}
 <h3>if , elif and else</h3>
 {% if titol > 250 %}
 <p>ex</p>
 {% elif titol < 250 and titol > 200 %}
 <P>very good</P>
 {% else %}
 <P>gooood</P>
 {% endif %}
</body>
</html>